# Complete dataset
data/raw/

# Notebook checkpoints
.ipynb_checkpoints/
data/processed/testimageData.txt
data/processed/trainingimageData.txt
data/processed/dataset.hdf5
data/abc.jpg
data/processed/predictions.hdf5
logs/model4.log
